{%extends "layouts/base.html"%}

{%block body%}

<nav class="navbar navbar-default" style="background-color:#aaccbb;">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a  class="navbar-brand active" href="/home">HOME</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/authors">Authors <span class="sr-only">(current)</span></a></li>
                <li><a href="/books">Books <span class="sr-only">(current)</span></a></li>
                <li><a href="/publishers">Publishers<span class="sr-only">(current)</span></a></li>
                <li><a href="/riviews">Riviews<span class="sr-only">(current)</span></a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right"><li><a href="/logout">logout</a></li></ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{user.name}}</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container-flaud">
    {%block content%}{%endblock%}
</div>

{%endblock%}