{%extends "layouts/user.html"%}

{%block content%}
<div class="container center-block" style="background-color:#6C7A89;">
    <div class="panel-primary">
        <div class="panel-body" style="background-color:#aaccbb;">
            <div class="row">
                <div class="col-md-6">
                    <h1 style="color:PURPLE;">WELCOME WITH OPEN HANDS</h1>
                    <h1 style="color:PURPLE;">Book Store Management System</h1>
                    <h1 style="color:#1E824C;">-Abdiaziz Ibrahim Yusuf</h1>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock%}