<div class="page-header">
    <h3>Riviews</h3>
</div>
<div class="page-header">
    <h4> <a class="btn btn-link"
            href="{{'/riviews/create'}}">
        <i class="fa fa-map-marker"></i> Add New Author
    </a></h4>
</div>

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Description</th>
        <th>Address</th>
        <th>phone</th>
        <th>Edit</th>
        <th>Remove</th>
    </tr>
    </thead>
    <tbody style="background-color:#aaccbb;" v-for = 'riview in riviews'>
    <tr>
        <td>
            <div v-if="Editting">
                <input   name='name' v-model='riview.name'>
            </div>
            <div v-else>
                <p>{{riview.name}}</p>
            </div>
        </td>
        <td>
            <div v-if="Editting">
                <input  name='email' v-model='riview.email'>
            </div>
            <div v-else>
                <p>{{riview.email}}</p>
            </div>
        </td>
        <td>
            <div v-if="Editting">
                <input  name='email' v-model='riview.description'>
            </div>
            <div v-else>
                <p>{{riview.description}}</p>
            </div>
        </td>
        <td>
            <div v-if="Editting">
                <input  name='address' v-model='riview.address'>
            </div>
            <div v-else>
                <p>{{riview.address}}</p>
            </div>
        </td>
        <td>
            <div v-if="Editting">
                <input  name='phone' v-model='riview.phone'>
            </div>
            <div v-else>
                <p>{{riview.phone}}</p>
            </div>
        </td>
        <td>
            <div v-if="Editting">
                <button type="submit" class="btn btn-link" v-on:click="save($index)">Save</button>
            </div>
            <div v-else>
                <button class="btn btn-link"  v-on:click="isEditting()">Update</button>
            </div>

        </td>

        <div>
            <td>
                <button class="btn btn-link"  v-on:click="Delete($index)" onClick="window.location.reload()">Remove</button>
            </td>
        </div>

    </tr>
    </tbody>
</table>
